<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= @user %>様、とりちゃんへようこそ。
    </h1>
    <p>
      新規登録が完了しました。
    </p>
    <p>
      ご登録ありがとうございます。
    </p>
  </body>
</html>