- if current_user.following?(user)
    = link_to t('UnFollow'), user_relationships_path(user.id), remote: true, method: :delete, class: "btn btn-danger rounded-pill"
-else
    = link_to t('Follow'), user_relationships_path(user.id), remote: true, method: :post, class: "btn btn-primary rounded-pill"