= image_tag '22018625.jpg', usemap: "#image-map", class: "map d-block mx-auto"

map name="image-map"
  =link_to area_path(1)
    area target="_blank" alt="北海道" title="北海道" coords="2842,604,2315,175" shape="rect"
  =link_to area_path(2)
    area target="_blank" alt="青森" title="青森" href="#" coords="2310,721,2747,996" shape="rect"
  =link_to area_path(3)
    area target="_blank" alt="岩手" title="岩手" href="#" coords="2572,1018,2744,1261" shape="rect"
  =link_to area_path(4)
    area target="_blank" alt="宮城" title="宮城" href="#" coords="2601,1283,2742,1500" shape="rect"
  =link_to area_path(5)
    area target="_blank" alt="秋田" title="秋田" href="#" coords="2315,1018,2545,1259" shape="rect"
  =link_to area_path(6)
    area target="_blank" alt="山形" title="山形" href="#" coords="2318,1288,2577,1503" shape="rect"
  =link_to area_path(7)
    area target="_blank" alt="福島" title="福島" href="#" coords="2432,1521,2742,1701" shape="rect"
  =link_to area_path(8)
    area target="_blank" alt="茨城" title="茨城" href="#" coords="2598,1723,2744,1937" shape="rect"
  =link_to area_path(9)
    area target="_blank" alt="栃木" title="栃木" href="#" coords="2434,1723,2575,1935" shape="rect"
  =link_to area_path(10)
    area target="_blank" alt="群馬" title="群馬" href="#" coords="2275,1723,2410,1935" shape="rect"
  =link_to area_path(11)
    area target="_blank" alt="埼玉" title="埼玉" href="#" coords="2357,1958,2535,2041" shape="rect"
  =link_to area_path(12)
    area target="_blank" alt="千葉" title="千葉" href="#" coords="2601,1958,2747,2147" shape="rect"
  =link_to area_path(13)
    area target="_blank" alt="東京" title="東京" href="#" coords="2357,2059,2535,2136" shape="rect"
  =link_to area_path(14)
    area target="_blank" alt="神奈川" title="神奈川" href="#" coords="2357,2160,2538,2245" shape="rect"
  =link_to area_path(15)
    area target="_blank" alt="新潟" title="新潟" href="#" coords="1994,1521,2410,1701" shape="rect"
  =link_to area_path(16)
    area target="_blank" alt="富山" title="富山" href="#" coords="1835,1553,1973,1670" shape="rect"
  =link_to area_path(17)
    area target="_blank" alt="石川" title="石川" href="#" coords="1705,1436,1814,1720" shape="rect"
  =link_to area_path(18)
    area target="_blank" alt="福井" title="福井" href="#" coords="1507,1619,1689,1723" shape="rect"
  =link_to area_path(19)
    area target="_blank" alt="山梨" title="山梨" href="#" coords="2169,1956,2339,2064" shape="rect"
  =link_to area_path(20)
    area target="_blank" alt="長野1" title="長野1" href="#" coords="1992,2064,2153,1720" shape="rect"
  =link_to area_path(20)
    area target="_blank" alt="長野2" title="長野2" href="#" coords="2254,1720,2156,1940" shape="rect"
  =link_to area_path(21)
    area target="_blank" alt="岐阜1" title="岐阜1" href="#" coords="1766,1741,1973,2064" shape="rect"
  =link_to area_path(21)
    area target="_blank" alt="岐阜2" title="岐阜2" href="#" coords="1830,1686,1973,1736" shape="rect"
  =link_to area_path(22)
    area target="_blank" alt="静岡" title="静岡" href="#" coords="1989,2080,2339,2250" shape="rect"
  =link_to area_path(23)
    area target="_blank" alt="愛知" title="愛知" href="#" coords="1766,2080,1973,2250" shape="rect"
  =link_to area_path(24)
    area target="_blank" alt="三重" title="三重" href="#" coords="1578,1943,1745,2319" shape="rect"
  =link_to area_path(25)
    area target="_blank" alt="滋賀" title="滋賀" href="#" coords="1583,1739,1745,1927" shape="rect"
  =link_to area_path(26)
    area target="_blank" alt="京都" title="京都" href="#" coords="1406,1739,1562,1924" shape="rect"
  =link_to area_path(27)
    area target="_blank" alt="大阪" title="大阪" href="#" coords="1364,1943,1422,2155" shape="rect"
  =link_to area_path(28)
    area target="_blank" alt="兵庫" title="兵庫" href="#" coords="1212,1741,1387,1924" shape="rect"
  =link_to area_path(29)
    area target="_blank" alt="奈良" title="奈良" href="#" coords="1443,1940,1562,2157" shape="rect"
  =link_to area_path(30)
    area target="_blank" alt="和歌山" title="和歌山" href="#" coords="1326,2173,1560,2319" shape="rect"
  =link_to area_path(31)
    area target="_blank" alt="鳥取" title="鳥取" href="#" coords="1019,1736,1191,1821" shape="rect"
  =link_to area_path(32)
    area target="_blank" alt="島根" title="島根" href="#" coords="833,1736,1000,1823" shape="rect"
  =link_to area_path(33)
    area target="_blank" alt="岡山" title="岡山" href="#" coords="1022,1839,1194,1924" shape="rect"
  =link_to area_path(34)
    area target="_blank" alt="広島" title="広島" href="#" coords="831,1839,1000,1924" shape="rect"
  =link_to area_path(35)
    area target="_blank" alt="山口" title="山口" href="#" coords="701,1739,810,1924" shape="rect"
  =link_to area_path(36)
    area target="_blank" alt="徳島" title="徳島" href="#" coords="1085,2099,1194,2192" shape="rect"
  =link_to area_path(37)
    area target="_blank" alt="香川" title="香川" href="#" coords="953,2102,1067,2189" shape="rect"
  =link_to area_path(38)
    area target="_blank" alt="愛媛" title="愛媛" href="#" coords="749,2104,934,2189" shape="rect"
  =link_to area_path(39)
    area target="_blank" alt="高知" title="高知" href="#" coords="749,2210,1194,2298" shape="rect"
  =link_to area_path(40)
    area target="_blank" alt="福岡" title="福岡" href="#" coords="327,1778,476,2001" shape="rect"
  =link_to area_path(41)
    area target="_blank" alt="佐賀" title="佐賀" href="#" coords="242,1781,309,2001" shape="rect"
  =link_to area_path(42)
    area target="_blank" alt="長崎" title="長崎" href="#" coords="158,1781,221,2001" shape="rect"
  =link_to area_path(43)
    area target="_blank" alt="熊本" title="熊本" href="#" coords="285,2019,473,2170" shape="rect"
  =link_to area_path(44)
    area target="_blank" alt="大分" title="大分" href="#" coords="494,1778,603,2059" shape="rect"
  =link_to area_path(45)
    area target="_blank" alt="宮崎" title="宮崎" href="#" coords="494,2080,600,2345" shape="rect"
  =link_to area_path(46)
    area target="_blank" alt="鹿児島" title="鹿児島" href="#" coords="285,2189,473,2345" shape="rect"
  =link_to area_path(47)
    area target="_blank" alt="沖縄" title="沖縄" href="#" coords="288,2658,404,2732" shape="rect"
