/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";



.card-img-overlay {
  left: 90%;
  padding: 0;
  height: 30px;
}

.heart_red {
 color: red;
}

.heard_blue {
 color: blue;
}


.form-group {
 .field_with_errors {
  display: contents;
  }
}

.field_with_errors {
 label {
  color: red;
 }
 input {
  border: 1px solid red;
 }
}

#error_explanation {
 ul {
  list-style: none;
 }
}

header {
 background-image: url("sky.jpg");
 // background-color: #B0C4DE;
}

.headnavi li a{
    /*背景色の基点とするためrelativeを指定*/
	position: relative;
}

.headnavi li a::after {
	content: '';
    /*絶対配置で線の位置を決める*/
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	color: white;
    /*背景の形状*/
	width: 0;
	height:100%;
	background: #0481A2;
    /*アニメーションの指定*/
	transition:all .5s;
	opacity: 0;/*はじめは透過0*/
}

/*現在地とhoverの設定*/
.headnavi li.current a::after,
.headnavi li a:hover::after {
    /*背景の形状*/
	width: 100%;/*横幅を伸ばす*/
	opacity: 1;/*不透明に*/
}
// .headnavi {
//   li.current a{
//    color: #fff;
//   }
// }

.headnavi a::hover {
 z-index: 2;
 color: white;
}

.headlink {
 color: black;
}

// .headlink a::hover {
//  text-decoration: none;
// }