// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usershowtag {
  display: inline-block;
}

.user-tag-link {
  height: 30px;
  margin: auto 2px;
}

.user-post-index .card {
 margin: 10px auto;
 width: 400px;
}

.user-show-img {
  position: relative;
}

.user-show-img .user-show-del {
  position: absolute;
  right: 2%;
  top: 0;
}

.user-show-img .user-follow {
  position: absolute;
  right: 2%;
  top: 0;
}

.user-img-h {
  height: 200px;
  object-fit: cover
}